.col-md-2.header-basket
	= link_to basket_path, class: "cart-link" do
		- if has_order? && current_order.has_items?
			%p.cart
				%i.fa.fa-shopping-cart.fa-2x
				&nbsp;
				%b.cart-quantity
					%span.badge.label-danger{style: 'background-color: orange'}= current_order.total_items
					= "#{number_to_currency(current_order.total_before_tax, unit: "R$", separator: ",", delimiter: ".")}"
		- else
			%p.empty
				%i.fa.fa-shopping-cart.fa-2x
				%b.cart-quantity &nbsp;  Vazio

:javascript
	var dispatcher, uri;
	uri = window.document.location.host + "/websocket";
	dispatcher = new WebSocketRails(uri);
	dispatcher.on_open = function(data) {
	  return console.log('Connection has been established');
	};
	dispatcher.bind('order_finished', function(data) {
		$('#pay_now_modal').modal('hide')
		$('.modal-backdrop.fade.in').hide()

		$('#payment_alert').html(data)
		window.location.href = window.location.pathname + "#finalize"
		$('#order_resume_modal').modal('show')
	});
