%ul.reasons
  %li.support
    %h4 Suporte técnico que funciona
    %p Queremos te ajudar a ter a melhor experiência. Nos ligue ou mande um email.
  %li.quality
    %h4 Qualidade garantida
    %p Garantia de serviço de qualidade para você se concentrar no seu jogo!
  %li.delivery
    %h4 Confirmação rápida
    %p Assim que houver a confirmação de pagamento você já pode aproveitar seus créditos.