- @page_title = 'Emitir Boleto!'

.checkout
  %h2 Preenchimento de Cadastro
  %p.intro Preencha os dados para a emissão do Boleto
  %br
  .customer

    .row
      .col-md-6
        %form
          .form-group
            %label{:for => "InputEmail"} Preencha com seu e-mail:
            %input#InputEmail.form-control{:placeholder => "Email", :type => "email"}/
          .form-group
            %label{:for => "InputPassword"} Senha:
            %input#InputPassword.form-control{:placeholder => "Senha", :type => "password"}/
          .form-group
            %label{:for => "InputConfirmPassword"} Confirme sua Senha:
            %input#InputConfirmPassword.form-control{:placeholder => "Confirmar Senha", :type => "password"}/

          .form-group
            %label{:for => "InputName"} Nome:
            %input#InputName.form-control{:placeholder => "Nome", :type => "text"}/

          .form-group
            %label{:for => "InputCPF"} CPF:
            %input#InputCPF.form-control{:placeholder => "CPF", :type => "password"}/

          .form-group
            %label{:for => "InputBirthDate"} Data de Nascimento (dia/mês/ano):
            %input#InputBirthDate.form-control{:placeholder => "Data de Nascimento", :type => "text"}/

          .form-group
            %label{:for => "InputPhone"} Telefone (xx) xxxx-xxxx:
            %input#InputPhone.form-control{:placeholder => "Telefone", :type => "text"}/
      .col-md-6

        %form
          .form-group
            %label{:for => "InputMobile"} Telefone Celular (xx) x-xxxx-xxxx:
            %input#InputMobile.form-control{:placeholder => "Telefone Celular", :type => "text"}/

          .form-group
            %label{:for => "InputStreet"} Endereço de Cobrança:
            %input#InputStreet.form-control{:placeholder => "Endereço", :type => "text"}/

          .form-group
            %label{:for => "InputNumber"} Número:
            %input#InputNumber.form-control{:placeholder => "Número", :type => "text"}/

          .form-group
            %label{:for => "InputApartment"} Complemento:
            %input#InputApartment.form-control{:placeholder => "Complemento", :type => "text"}/

          .form-group
            %label{:for => "InputCity"} Cidade:
            %input#InputCity.form-control{:placeholder => "Cidade", :type => "text"}/

          .form-group
            %label{:for => "InputCountry"} País:
            %input#InputCountry.form-control{:placeholder => "País", :type => "text"}/

          .form-group
            %label{:for => "InputPostalCode"} CEP:
            %input#InputPostalCode.form-control{:placeholder => "CEP", :type => "text"}/

    .row
      .col-md-12
        .form-group
          %label{:for => "InLineRadioOptions"} Sexo:
          %label.radio-inline
            %input#inlineRadio1{:name => "inlineRadioOptions", :type => "radio", :value => "option1"}/
            Masculino
          %label.radio-inline
            %input#inlineRadio1{:name => "inlineRadioOptions", :type => "radio", :value => "option2"}/
            Feminino

        .checkbox
          %label
            %input{:type => "checkbox", :id => "selectado"}/
            Deseja que a entrega seja feita em outro endereço?


  %dl.delivery{:id => "txtHidden"}
    .form-group
      %label{:for => "InputStreet"} Endereço de Entrega:
      %input#InputStreet.form-control{:placeholder => "Endereço", :type => "text"}/

    .form-group
      %label{:for => "InputNumber"} Número:
      %input#InputNumber.form-control{:placeholder => "Número", :type => "text"}/

    .form-group
      %label{:for => "InputApartment"} Complemento:
      %input#InputApartment.form-control{:placeholder => "Complemento", :type => "text"}/

    .form-group
      %label{:for => "InputCity"} Cidade:
      %input#InputCity.form-control{:placeholder => "Cidade", :type => "text"}/

    .form-group
      %label{:for => "InputCountry"} País:
      %input#InputCountry.form-control{:placeholder => "País", :type => "text"}/

    .form-group
      %label{:for => "InputPostalCode"} CEP:
      %input#InputPostalCode.form-control{:placeholder => "CEP", :type => "text"}/