- @page_title = 'KiiK::Store'
.row
  .col-md-12{style: 'text-align: center'}
    %p.lead{style: 'margin-top: 50px'} Obrigado por testar o Kiik!

%hr

%a.btn.btn-block.btn-primary{ href: 'https://secure.kiik.com.br/', target: '_blank' }
  = fa_icon 'apple'
  Baixe o Kiik aqui!
  = fa_icon 'android'
