.modal.fade.in#pay_now_modal{tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'pay_now_modal_label'}
  .modal-dialog{role: 'document', style: 'width: 800px'}
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => true}x
        %h2.modal-title#pay_now_modal_label{style: 'text-align:center'} Pague agora com o KiiK
      .modal-body
        - if @code
          %table.table.table-striped{style: 'table-layout: fixed; width: "100%"'}
            %thead
              %tr
                %td Item
                %td Quantidade
                %td Sub-Total
            %tbody
              - for item in @order.order_items
                %tr
                  %td.product{style: 'width: "33%"'}
                    = item.ordered_item.full_name
                    - unless defined?(readonly)
                      = link_to image_tag("delete.png"), '#', class: 'remove-item btn btn-xs', data: {path: remove_basket_item_ajax_path(item)}
                  %td.quantity{style: 'width: "33%"'}
                    - unless defined?(readonly)
                      %form
                        %input.numItem{:max => "100", :min => "1", :name => "quantity", :type => "number", :value=> item.quantity, data: {item_id: item.id}}
                  %td.money.total{style: 'width: "33%"', id: "money-total-#{item.id}"}= number_to_currency(item.total, unit: "R$", separator: ",", delimiter: ".")
              %tr
                %td
                %td{style: 'color: #f48a21; text-align: right; font-weight: bold'} Total:
                %td#total{style: 'font-weight: bold; color: #f48a21'}
                  = number_to_currency(item.order.total, unit: "R$", separator: ",", delimiter: ".")
            - @qrcode = RQRCode::QRCode.new(@code)
            %table#qrcode-table{style: "margin:auto"}
              - @qrcode.modules.each_index do |x|
                %tr
                  - @qrcode.modules.each_index do |y|
                    - if @qrcode.dark?(x,y)
                      %td.black
                    - else
                      %td.white
            %br
            %p.lead.text-center#code
              = @code
            %p.lead.text-center
              = link_to("Abrir app do KiiK", "kiik://qrcode/#{@code}", class: 'btn btn-warning')
        - else
          %p.lead.text-center Adicione itens ao seu carrinho antes de fazer o pagamento!
:javascript
  $('.remove-item').click(function() {
    return $.ajax({
      url: $(this).data('path'),
      type: 'DELETE',
      dataType: 'html',
      success: function(data) {
        $('#pay_now_modal').modal('hide');
        $('.modal-backdrop.fade.in').hide()
        $('#payment_alert').html(data);
        return $('#pay_now_modal').modal('show');
      },
      error: function(data) {}
    });
  });
  $('.numItem').bind('keyup mouseup', function() {
    input = $(this)[0]
    $.ajax({
      url: '/basket/' + $(input).data('item-id'),
      type: 'POST',
      data: {
        quantity: input.value
      },
      dataType: 'json',
      success: function(data) {
        var id = '#money-total-' + $(input).data('item-id')
        $(id).html(data.item_total);
        $('#total').html(data.total);
        $('#qrcode-table').html(data.qr);
        $('#code').html(data.code);
      },
      error: function(data) {}
    });
  });
