.modal.fade.in#order_resume_modal{tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'order_resume_modal_label'}
  .modal-dialog{role: 'document', style: 'width: 800px'}
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => true}x
        %h2.modal-title#order_resume_modal_label{style: 'text-align:center'} Pagamento Efetuado
      .modal-body
        - if @payment.user.avatar != ''
          - avatar = @payment.user.avatar
        - elsif @payment.user.facebook_id != ''
          - avatar = "https://graph.facebook.com/#{@payment.user.facebook_id}/picture?type=large"
        - else
          - avatar = image_url('avatar.png')
        .row{style: 'text-align: center'}
          .col-md-12
            %img.circular{src: avatar}
            %h2{style: 'color: #f48a21'}= @payment.user.name
            %h4
              Seu Pagamento de
              %large= @payment.amount
              foi efetuado com sucesso!
        .row
          .col-md-12{style: 'text-align: center; margin-top: 50px'}
            %h3 Detalhes do Pedido
        .row{style: 'margin-top: 30px'}
          .col-md-12
            %h5 Produtos
            %table.table.table-striped{style: 'table-layout: fixed; width: "100%"'}
              %thead
                %tr
                  %td Item
                  %td Quantidade
                  %td Sub-Total
              %tbody
                - if @order
                  - for item in @order.order_items
                    %tr
                      %td.product{style: 'width: "33%"'}
                        = item.ordered_item.full_name
                      %td.quantity{style: 'width: "33%"'}
                        = item.quantity
                      %td.money.total{style: 'width: "33%"'}= number_to_currency item.total
                  %tr
                    %td
                    %td{style: 'color: #f48a21; text-align: right; font-weight: bold'} Total:
                    %td#total{style: 'font-weight: bold; color: #f48a21'}
                      = number_to_currency(item.order.total, unit: "R$", separator: ",", delimiter: ".")
        .row
          - if @order
            .col-md-12
              %h5 Endereço de Entrega
              .col-md-3
                %p{style: 'font-weight: bold'} Rua
                %p= @order.billing_address1
              .col-md-2
                %p{style: 'font-weight: bold'} Bairro
                %p= @order.billing_address2
              .col-md-3
                %p{style: 'font-weight: bold'} Cidade
                %p= @order.billing_address3
              .col-md-2
                %p{style: 'font-weight: bold'} Estado
                %p=@order.billing_address4
              .col-md-2
                %p{style: 'font-weight: bold'} CEP
                %p= @order.billing_postcode
