- @page_title = 'Your Shopping Bag'
.checkout
  = render 'shared/order_items', :order => current_order

%hr.dash
.col-md-offset-4
  %a.btn.btn-primary{href: '#payment-types'} ESCOLHER FORMA DE PAGAMENTO
