// = require reset
// = require_tree .


/* latin */
@font-face {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$footer-spacing: 235px;
$header-height: 125px;
$header-cart: 45px;
$header-border-radius: 5px;
$header-circle-radius: 20px;

html { font-family: $font; font-size:100%; position:relative; min-height:100%; }
body {
  margin-top: 140px;
  -webkit-font-smoothing:antialiased;
  background-image: image-url("nike-air-max.png");
  background-color: #f6f7f9;
  background-repeat: repeat-y;
  margin-bottom: $footer-spacing;
}

//
// Flash messages
//
div#flash-notice { background:#33a174; color:#fff; text-align:center; padding:8px; font-size:0.9em; font-weight:bold;}
div#flash-alert { background:#a13361; color:#fff; text-align:center; padding:8px; font-size:0.9em; font-weight:bold;}

//
// Primary header
//
.main {
  z-index: 20;
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  background-color: #f48a21;
  border-radius: $header-border-radius;
  margin-bottom: 10px;
}

.welcome-item {
  padding: 5px 5px 5px 5px;
  text-align: left;
  color: #ffffff;
  margin-top: 10px;
  font-weight: bold;
}

.main-item {
  padding: 5px 0 5px 0;
  text-align: center;
  color: #595959;
  font-weight: bold;
  margin-top: 18px;
}

.main-item:first-of-type {
  height: 30px;
}

.header-basket {
  background-color: #000000;
  color: #ffffff;
  height: $header-cart;
  width: 20%;
  float: right;
  padding-top: 5px;
  border-top-right-radius: $header-border-radius;
  border-bottom-right-radius: $header-border-radius;
  text-align: center;

  .cart {
    color: white;
  }

  .cart-link:hover {
     text-decoration: none;
  }

  .cart-quantity {
    background-color: #000000;
    width: 40;
    font-size: 13px;
    text-transform: uppercase;
  }
}

.primary {
  margin-bottom: 15px;
}

h3.section-title {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 1px;
}

hr.title-hr-first {
  border-top: 5px solid #ff9e05;
  width: 5%;
  margin: 0;
}

hr.title-hr-second {
  border-top: 1px solid #ff9e05;
  width: 10%;
  margin: 0;
}

.header-cart {
  height: $header-cart;
  width: 100%;
  background-color: #000000;
}


//
// Footer
//
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-spacing;
  background-color: #000000;
  color: white;
  padding-top: 20px;
  margin-top: 15px;

  ul{
    margin: 0 !important;
    padding: 0 !important;
  }

  .footer-images{
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
  }

  .footer-item{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
    color: #ffffff;
  }

  .footer-item-thick{
    list-style-type: none;
    font-weight: bold;
    color: #ffffff;
  }

  img{
    margin-left: 20px;
    align: left;
  }

  .footer-title {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 1px;
  }

  .footer-note {
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
  }

  hr.footer-title-hr-first {
    border-top: 5px solid #ff9e05;
    width: 20%;
    margin: 0;
  }

  hr.footer-title-hr-second {
    border-top: 1px solid #ff9e05;
    width: 40%;
    margin: 0;
  }

  .hr-footer {
    margin-bottom: 10px;
    border-top: 1px solid #595959
  }

  ul {
    list-style: disc;
    font-weight: bolder;
    color: #ff9e05;
    margin-top: 50px;
    margin-left: 50px;
    line-height: 25px;

    span {
      color: white;
    }
  }
}

div.overlay {
  display:block;
  position:fixed;
  z-index:1;
  width:100%;
  top:0;
  left:0;
  height:4000px;
  background:rgba(0,0,0,0.3);
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.wizard {
  *zoom: 1;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  background-color: #f9f9f9;
  position: relative;
  min-height: 48px;
  overflow: hidden;
}
.wizard:before,
.wizard:after {
  display: table;
  content: "";
  line-height: 0;
}
.wizard:after {
  clear: both;
}
.wizard > .steps {
  list-style: none outside none;
  padding: 0;
  margin: 0;
  width: 4000px;
}
.wizard > .steps.previous-disabled li.complete {
  cursor: default;
}
.wizard > .steps.previous-disabled li.complete:hover {
  background: #f3f4f5;
  color: #468847;
  cursor: default;
}
.wizard > .steps.previous-disabled li.complete:hover .chevron:before {
  border-left-color: #f3f4f5;
}
.wizard > .steps li {
  float: left;
  margin: 0;
  padding: 0 20px 0 30px;
  height: 46px;
  line-height: 46px;
  position: relative;
  background: #ededed;
  color: #999999;
  font-size: 16px;
  cursor: not-allowed;
}
.wizard > .steps li .chevron {
  border: 24px solid transparent;
  border-left: 14px solid #d4d4d4;
  border-right: 0;
  display: block;
  position: absolute;
  right: -14px;
  top: 0;
  z-index: 1;
}
.wizard > .steps li .chevron:before {
  border: 24px solid transparent;
  border-left: 14px solid #ededed;
  border-right: 0;
  content: "";
  display: block;
  position: absolute;
  right: 1px;
  top: -24px;
}
.wizard > .steps li.complete {
  background: #f3f4f5;
  color: #468847;
}
.wizard > .steps li.complete:hover {
  background: #e7eff8;
  cursor: pointer;
}
.wizard > .steps li.complete:hover .chevron:before {
  border-left: 14px solid #e7eff8;
}
.wizard > .steps li.complete .chevron:before {
  border-left: 14px solid #f3f4f5;
}
.wizard > .steps li.active {
  background: #f1f6fc;
  color: #3a87ad;
  cursor: default;
}
.wizard > .steps li.active .chevron:before {
  border-left: 14px solid #f1f6fc;
}
.wizard > .steps li.active .badge {
  background-color: #3a87ad;
}
.wizard > .steps li .badge {
  margin-right: 8px;
}
.wizard > .steps li .badge-success {
  background-color: #468847;
}
.wizard > .steps li:first-child {
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
}
.wizard > .actions {
  z-index: 1000;
  position: absolute;
  right: 0;
  line-height: 46px;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  background-color: #e5e5e5;
  border-left: 1px solid #d4d4d4;
}
.wizard > .actions a {
  line-height: 45px;
  font-size: 12px;
  margin-right: 8px;
}
.wizard > .actions .btn-prev[disabled] {
  cursor: not-allowed;
}
.wizard > .actions .btn-prev span {
  margin-right: 5px;
}
.wizard > .actions .btn-next[disabled] {
  cursor: not-allowed;
}
.wizard > .actions .btn-next span {
  margin-left: 5px;
}
.wizard .step-content {
  border-top: 1px solid #D4D4D4;
  padding: 10px;
  float: left;
  width: 100%;
}
.wizard .step-content .step-pane {
  display: none;
}
.wizard .step-content > .active {
  display: block;
}
.wizard .step-content > .active .btn-group .active {
  display: inline-block;
}
.wizard.complete > .actions .glyphicon-arrow-right:before {
  display: none;
}
.wizard.complete > .actions .glyphicon-arrow-right {
  margin-left: 0;
}
.fuelux .serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.fuelux .monospace {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.fuelux .padding-xs {
  padding: 5px;
}
.fuelux .padding-xs-horizontal {
  padding: 0 5px;
}
.fuelux .padding-xs-vertical {
  padding: 5px 0;
}
.fuelux .padding-xs-top {
  padding-top: 5px;
}
.fuelux .padding-xs-bottom {
  padding-bottom: 5px;
}
.fuelux .padding-xs-left {
  padding-left: 5px;
}
.fuelux .padding-xs-right {
  padding-right: 5px;
}
.fuelux .padding-sm {
  padding: 10px;
}
.fuelux .padding-sm-horizontal {
  padding: 0 10px;
}
.fuelux .padding-sm-vertical {
  padding: 10px 0;
}
.fuelux .padding-sm-top {
  padding-top: 10px;
}
.fuelux .padding-sm-bottom {
  padding-bottom: 10px;
}
.fuelux .padding-sm-left {
  padding-left: 10px;
}
.fuelux .padding-sm-right {
  padding-right: 10px;
}
.fuelux .padding-md {
  padding: 15px;
}
.fuelux .padding-md-horizontal {
  padding: 0 15px;
}
.fuelux .padding-md-vertical {
  padding: 15px 0;
}
.fuelux .padding-md-top {
  padding-top: 15px;
}
.fuelux .padding-md-bottom {
  padding-bottom: 15px;
}
.fuelux .padding-md-left {
  padding-left: 15px;
}
.fuelux .padding-md-right {
  padding-right: 15px;
}
.fuelux .padding-lg {
  padding: 20px;
}
.fuelux .padding-lg-horizontal {
  padding: 0 20px;
}
.fuelux .padding-lg-vertical {
  padding: 20px 0;
}
.fuelux .padding-lg-top {
  padding-top: 20px;
}
.fuelux .padding-lg-bottom {
  padding-bottom: 20px;
}
.fuelux .padding-lg-left {
  padding-left: 20px;
}
.fuelux .padding-lg-right {
  padding-right: 20px;
}
.fuelux .margin-xs {
  margin: 5px;
}
.fuelux .margin-xs-horizontal {
  margin: 0 5px;
}
.fuelux .margin-xs-vertical {
  margin: 5px 0;
}
.fuelux .margin-xs-top {
  margin-top: 5px;
}
.fuelux .margin-xs-bottom {
  margin-bottom: 5px;
}
.fuelux .margin-xs-left {
  margin-left: 5px;
}
.fuelux .margin-xs-right {
  margin-right: 5px;
}
.fuelux .margin-sm {
  margin: 10px;
}
.fuelux .margin-sm-horizontal {
  margin: 0 10px;
}
.fuelux .margin-sm-vertical {
  margin: 10px 0;
}
.fuelux .margin-sm-top {
  margin-top: 10px;
}
.fuelux .margin-sm-bottom {
  margin-bottom: 10px;
}
.fuelux .margin-sm-left {
  margin-left: 10px;
}
.fuelux .margin-sm-right {
  margin-right: 10px;
}
.fuelux .margin-md {
  margin: 15px;
}
.fuelux .margin-md-horizontal {
  margin: 0 15px;
}
.fuelux .margin-md-vertical {
  margin: 15px 0;
}
.fuelux .margin-md-top {
  margin-top: 15px;
}
.fuelux .margin-md-bottom {
  margin-bottom: 15px;
}
.fuelux .margin-md-left {
  margin-left: 15px;
}
.fuelux .margin-md-right {
  margin-right: 15px;
}
.fuelux .margin-lg {
  margin: 20px;
}
.fuelux .margin-lg-horizontal {
  margin: 0 20px;
}
.fuelux .margin-lg-vertical {
  margin: 20px 0;
}
.fuelux .margin-lg-top {
  margin-top: 20px;
}
.fuelux .margin-lg-bottom {
  margin-bottom: 20px;
}
.fuelux .margin-lg-left {
  margin-left: 20px;
}
.fuelux .margin-lg-right {
  margin-right: 20px;
}
.fuelux .data-label {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 2px;
  text-shadow: 0 1px #fff;
  color: #666;
}
.fuelux .data-value {
  font-size: 14px;
}
.fuelux .section-heading {
  font-size: 16px;
  color: #333;
  margin: 0 0 10px;
  padding: 0;
  text-shadow: 0 1px #fff;
}

@media(min-width: 1200px) {
  .container{
    // width: 1575px;
  }
}
.product_img {
  margin-left: -40px
}
.product_text {
  float: right;
  padding-left: 30px
}
.btn-default {
  width: 110%;
  border: none;
  color: #fff;
  background-color: #F38920;
  height: 35px;
  text-transform: uppercase;
  margin: 5px 0px;
}
.btn-primary{
  color: #fff;
  background-color: #F38920;
  border: none;
}

.dash{
  border: 0 none;
  border-top: 2px dashed #DDDDDD;
  background: none;
  height:0;
}

.redradio{
  border: 1px;
  margin-left: 45%;
  border-style: solid;
  border-color: #dfe3e5;
  border-radius:25px;
  align: center;
  text-align: center;
  width:25px;
  height:25px;
  background: #eef1f2;
}

.greenradio{
  barder-color: #dfe3e5;
  margin-left: 45%;
  border: 1px;
  border-radius:25px;
  text-align: center;
  align: center;
  width:25px;
  height:25px;
  background: #f38920 ;
}

.radiobuttons{
  text-align: center;
  align: center;
  clear:both;
  margin-bottom:10px;
}

.payment-background{
  background: #f48a22;
  color: #ffffff;
}
