// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.products {
  font-size:0.9em;
  margin-top: 25px;
  overflow:hidden;
  li {
    margin-bottom:15px;
    float:left;
    div.img {
      background-repeat:no-repeat;
      background-size:contain;
      background-position: center 0;
      float:left;
      max-width: 130%;
      margin-top: 30px
    }

    .thumbnail {
      overflow: hidden;
      padding-top: 20px;
      border: none;

      #description {
        word-break: break-all;
        color: #666;
        font-weight: normal;
        height: 65px
      }
      #name {
        color: #666;
        font-size: 18px
      }
      #price {
        color: #F38920;
        font-size: 18px;
        margin: 20px 0 20px 0;
      }
      img{
        float:left;
        max-width: 130%;
        margin-top: 30px
      }
    }
  }
}
@media(min-width: 1200px) {
  .thumbnail {
    height: 308px;
    width: 506px;
  }
}
