!!!
%html
  %head
    %title #{@page_title} - #{Shoppe.settings.store_name}
    = stylesheet_link_tag :application, media: :all
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield :head
  %body{:background => "nike-air-max.png"}
    = render('layouts/header')
    .container
      = render(partial: 'shared/flash_messages', flash: flash)
      #payment_alert
      / Primary section
      %section.primary
        = yield
    = render('layouts/footer')
